/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
/*---------------------------------------------------------*
	Buttons
 *---------------------------------------------------------*/
/*
 * 1. Convert pixel unit to ems
 */
.btn {
  margin: 0;
  padding: 0.8125em 1.5em;
  /* 1 */
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 100%;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  /*
	 * Button States
	 * 1. Flat ui style no borders
	 * 2. Disable State
	 * 3. Almost flat (add transparent gradient)
	 */
  /* 1 */
}
.btn.flat {
  border: 0;
}
.btn:disabled,
.btn.disabled {
  opacity: .7;
  color: #666;
  background: #ddd !important;
  cursor: not-allowed !important;
}
.af-btn {
  /* 3 */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09) inset;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03));
}
/*
 * Button Alignment
 */
.btn-group-inline {
  display: table;
}
.btn-group-inline .m-btn {
  display: table-cell;
}
.btn-group-inline.fluid {
  width: 100%;
}
.btn-group-inline.fluid .fluid-btn {
  display: table-cell;
}
.btn-group-inline.fluid .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-group-statcked .btn {
  display: block;
}
/*---------------------------------------------------------*
	Sizes
 *---------------------------------------------------------*/
.sz-xs {
  font-size: 70%;
}
.sz-sm {
  font-size: 85%;
}
.sz-lg {
  font-size: 110%;
}
.sz-xl {
  font-size: 125%;
}
/* greens */
/* blues */
/* oranges */
/*--------------------------------------*/
/*--------------------------------------*/
/*atoms styles*/
.cb {
  clear: both;
}
.fn {
  float: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.oh {
  overflow: hidden;
}
.dib {
  display: inline-block;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.fwb {
  font-weight: bold;
}
.fwn {
  font-weight: normal;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.bdn {
  border: none !important;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*---------------------------------------------------------*
	Global vairables
 *---------------------------------------------------------*/
/*
 *
 */
/*
 * 1. Background color
 * 2. Text color
 * 3. Bool value if true (1) add active and hover psudo class
 * 4. Bool value if true (1) add border
 */
/*
 *	
 */
/*---------------------------------------------------------*
	CSS3 mixins
 *---------------------------------------------------------*/
/*---------------------------------------------------------*
	Table and List states mixins
 *---------------------------------------------------------*/
/*
 * Stripe table and list rows
 * 1. Even rows color 
 * 2. Odd rows color
 * 3. Row selectors
 */
/*
 * Add hover state on table and list rows
 * 1. Even rows color 
 * 2. Odd rows color
 * 3. Row selectors
 */
/*---------------------------------------------------------*
	Generic mixins
 *---------------------------------------------------------*/
